# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_lineage_livedisplay)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Access zram sysfs
allow platform_app sysfs_zram:dir r_dir_perms;
allow platform_app sysfs_zram:file r_file_perms;

# Sandbox
allow platform_app ax_sandbox_service:service_manager find;
allow platform_app ax_sandbox_vault_file:dir create_dir_perms;
allow platform_app ax_sandbox_vault_file:file create_file_perms;
allow platform_app system_data_file:dir r_dir_perms;
allow platform_app system_data_file:file r_file_perms;
allow platform_app system_userdir_file:dir r_dir_perms;
allow platform_app system_userdir_file:file r_file_perms;
